.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  margin: 150px auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #293462;
  padding: 1em;
  border-radius: 1.5em;
  height: 40vh;
  box-shadow: 0 10px 10px #565c76;
}

.left-col {
  width: 70%;
  padding: 0 1em;
}

.left-col h3 {
  letter-spacing: .1em;
}

.right-col {
  width: 30%;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-col button {
  margin: .5em 0;
  padding: 1em .5em;
  border-radius: .5em;
  border: none;
  width: 80%;
  cursor: pointer;
}

.right-col button:hover {
  background-color: rgb(247, 198, 133);
}