.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  margin: 150px auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #293462;
  padding: 1em;
  border-radius: 1.5em;
  height: 40vh;
  box-shadow: 0 10px 10px #565c76;
  border-right: 5px solid wheat;
}

.quiz-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-col {
  width: 70%;
  padding: 0 1em;
}

.left-col h3 {
  letter-spacing: .1em;
}

.right-col {
  width: 30%;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid wheat;
}

.right-col button {
  margin: .5em 0;
  padding: 1em .5em;
  border-radius: .5em;
  border: 1px solid #111b48;
  width: 80%;
  cursor: pointer;
  color: wheat;
  background-color: #293462;
}

.right-col button:hover {
  background-color: rgb(247, 198, 133);
  color: white;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 769px) {
  .App {
    height: auto;
    min-width: 70%;
  }
  .card-container {
    min-width: 100%;
  }
}

@media only screen and (max-width: 600px) {

  .quiz-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .card-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-col {
    width: 100%;
    text-align: center;
    font-size: .8em;
  }

  .right-col {
    display: flex;
    flex-direction: row;
    max-width: 95vw;
    height: auto;
    border-left: none;
  }

  .right-col button {
    margin: 0 .5em;
    font-size: .6em;
    width: auto;
  }
}